Life Expectancy Current Flow.json
[{"id":"dbc50079.61e8b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10366b3e.a72325","type":"debug","z":"dbc50079.61e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":100,"wires":[]},{"id":"597c968e.33cf28","type":"function","z":"dbc50079.61e8b","name":"","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"lgm-DVOeiPYBfflS-5syMGObsUo6BUc-HBechBnLFXOM\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["b599ebc.4790018"]]},{"id":"b599ebc.4790018","type":"http request","z":"dbc50079.61e8b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":360,"y":460,"wires":[["62ecca62.30e9b4","61f7f9f.1bcda08"]]},{"id":"62ecca62.30e9b4","type":"function","z":"dbc50079.61e8b","name":"","func":"var token = msg.payload.access_token;\nvar instance_id = \"a0f87c50-083c-4d96-8311-c128f9a48201\";\nmsg.headers = {\"Content-Type\": 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nif(a == \"Afghanistan\") {a = 0;}\nelse if(a == \"Albania\") {a = 1;}\nelse if(a == \"Algeria\") {a = 2;}\nelse if(a == \"Angola\") {a = 3;}\nelse if(a == \"Antigua and Barbuda\") {a = 4;}\nelse if(a == \"Argentina\") {a = 5;}\nelse if(a == \"Armenia\") {a = 6;}\nelse if(a == \"Australia\") {a = 7;}\nelse if(a == \"Austria\") {a = 8;}\nelse if(a == \"Azerbaijan\") {a = 9;}\nelse if(a == \"Bahamas\") {a = 10;}\nelse if(a == \"Bahrain\") {a = 11;}\nelse if(a == \"Bangladesh\") {a = 12;}\nelse if(a == \"Barbados\") {a = 13;}\nelse if(a == \"Belarus\") {a = 14;}\nelse if(a == \"Belgium\") {a = 15;}\nelse if(a == \"Belize\") {a = 16;}\nelse if(a == \"Benin\") {a = 17;}\nelse if(a == \"Bhutan\") {a = 18;}\nelse if(a == \"Plurinational State of Bolivia\") {a = 19;}\nelse if(a == \"Bosnia and Herzegovina\") {a = 20;}\nelse if(a == \"Botswana\") {a = 21;}\nelse if(a == \"Brazil\") {a = 22;}\nelse if(a == \"Brunei Darussalam\") {a = 23;}\nelse if(a == \"Bulgaria\") {a = 24;}\nelse if(a == \"Burkina Faso\") {a = 25;}\nelse if(a == \"Burundi\") {a = 26;}\nelse if(a == \"Côte d'Ivoire\") {a = 27;}\nelse if(a == \"Cabo Verde\") {a = 28;}\nelse if(a == \"Cambodia\") {a = 29;}\nelse if(a == \"Cameroon\") {a = 30;}\nelse if(a == \"Canada\") {a = 31;}\nelse if(a == \"Central African Republic\") {a = 32;}\nelse if(a == \"Chad\") {a = 33;}\nelse if(a == \"Chile\") {a = 34;}\nelse if(a == \"China\") {a = 35;}\nelse if(a == \"Colombia\") {a = 36;}\nelse if(a == \"Comoros\") {a = 37;}\nelse if(a == \"Congo\") {a = 38;}\nelse if(a == \"Costa Rica\") {a = 39;}\nelse if(a == \"Croatia\") {a = 40;}\nelse if(a == \"Cuba\") {a = 41;}\nelse if(a == \"Cyprus\") {a = 42;}\nelse if(a == \"Czechia\") {a = 43;}\nelse if(a == \"Democratic People's Republic of Korea\") {a = 44;}\nelse if(a == \"Democratic Republic of the Congo\") {a = 45;}\nelse if(a == \"Denmark\") {a = 46;}\nelse if(a == \"Djibouti\") {a = 47;}\nelse if(a == \"Dominican Republic\") {a = 48;}\nelse if(a == \"Ecuador\") {a = 49;}\nelse if(a == \"Egypt\") {a = 50;}\nelse if(a == \"El Salvador\") {a = 51;}\nelse if(a == \"Equatorial Guinea\") {a = 52;}\nelse if(a == \"Eritrea\") {a = 53;}\nelse if(a == \"Estonia\") {a = 54;}\nelse if(a == \"Ethiopia\") {a = 55;}\nelse if(a == \"Fiji\") {a = 56;}\nelse if(a == \"Finland\") {a = 57;}\nelse if(a == \"France\") {a = 58;}\nelse if(a == \"Gabon\") {a = 59;}\nelse if(a == \"Gambia\") {a = 60;}\nelse if(a == \"Georgia\") {a = 61;}\nelse if(a == \"Germany\") {a = 62;}\nelse if(a == \"Ghana\") {a = 63;}\nelse if(a == \"Greece\") {a = 64;}\nelse if(a == \"Grenada\") {a = 65;}\nelse if(a == \"Guatemala\") {a = 66;}\nelse if(a == \"Guinea\") {a = 67;}\nelse if(a == \"Bissau\") {a = 68;}\nelse if(a == \"Guyana\") {a = 69;}\nelse if(a == \"Haiti\") {a = 70;}\nelse if(a == \"Honduras\") {a = 71;}\nelse if(a == \"Hungary\") {a = 72;}\nelse if(a == \"Iceland\") {a = 73;}\nelse if(a == \"India\") {a = 74;}\nelse if(a == \"Indonesia\") {a = 75;}\nelse if(a == \"Islamic Republic of Iran\") {a = 76;}\nelse if(a == \"Iraq\") {a = 77;}\nelse if(a == \"Ireland\") {a = 78;}\nelse if(a == \"Israel\") {a = 79;}\nelse if(a == \"Italy\") {a = 80;}\nelse if(a == \"Jamaica\") {a = 81;}\nelse if(a == \"Japan\") {a = 82;}\nelse if(a == \"Jordan\") {a = 83;}\nelse if(a == \"Kazakhstan\") {a = 84;}\nelse if(a == \"Kenya\") {a = 85;}\nelse if(a == \"Kiribati\") {a = 86;}\nelse if(a == \"Kuwait\") {a = 87;}\nelse if(a == \"Kyrgyzstan\") {a = 88;}\nelse if(a == \"Lao People's Democratic Republic\") {a = 89;}\nelse if(a == \"Latvia\") {a = 90;}\nelse if(a == \"Lebanon\") {a = 91;}\nelse if(a == \"Lesotho\") {a = 92;}\nelse if(a == \"Liberia\") {a = 93;}\nelse if(a == \"Libya\") {a = 94;}\nelse if(a == \"Lithuania\") {a = 95;}\nelse if(a == \"Luxembourg\") {a = 96;}\nelse if(a == \"Madagascar\") {a = 97;}\nelse if(a == \"Malawi\") {a = 98;}\nelse if(a == \"Malaysia\") {a = 99;}\nelse if(a == \"Maldives\") {a = 100;}\nelse if(a == \"Mali\") {a = 101;}\nelse if(a == \"Malta\") {a = 102;}\nelse if(a == \"Mauritania\") {a = 103;}\nelse if(a == \"Mauritius\") {a = 104;}\nelse if(a == \"Mexico\") {a = 105;}\nelse if(a == \"Federated States of Micronesia\") {a = 106;}\nelse if(a == \"Mongolia\") {a = 107;}\nelse if(a == \"Montenegro\") {a = 108;}\nelse if(a == \"Morocco\") {a = 109;}\nelse if(a == \"Mozambique\") {a = 110;}\nelse if(a == \"Myanmar\") {a = 111;}\nelse if(a == \"Namibia\") {a = 112;}\nelse if(a == \"Nepal\") {a = 113;}\nelse if(a == \"Netherlands\") {a = 114;}\nelse if(a == \"New Zealand\") {a = 115;}\nelse if(a == \"Nicaragua\") {a = 116;}\nelse if(a == \"Niger\") {a = 117;}\nelse if(a == \"Nigeria\") {a = 118;}\nelse if(a == \"Norway\") {a = 119;}\nelse if(a == \"Oman\") {a = 120;}\nelse if(a == \"Pakistan\") {a = 121;}\nelse if(a == \"Panama\") {a = 122;}\nelse if(a == \"Papua New Guinea\") {a = 123;}\nelse if(a == \"Paraguay\") {a = 124;}\nelse if(a == \"Peru\") {a = 125;}\nelse if(a == \"Philippines\") {a = 126;}\nelse if(a == \"Poland\") {a = 127;}\nelse if(a == \"Portugal\") {a = 128;}\nelse if(a == \"Qatar\") {a = 129;}\nelse if(a == \"Republic of Korea\") {a = 130;}\nelse if(a == \"Republic of Moldova\") {a = 131;}\nelse if(a == \"Romania\") {a = 132;}\nelse if(a == \"Russian Federation\") {a = 133;}\nelse if(a == \"Rwanda\") {a = 134;}\nelse if(a == \"Saint Lucia\") {a = 135;}\nelse if(a == \"Saint Vincent and the Grenadines\") {a = 136;}\nelse if(a == \"Samoa\") {a = 137;}\nelse if(a == \"Sao Tome and Principe\") {a = 138;}\nelse if(a == \"Saudi Arabia\") {a = 139;}\nelse if(a == \"Senegal\") {a = 140;}\nelse if(a == \"Serbia\") {a = 141;}\nelse if(a == \"Seychelles\") {a = 142;}\nelse if(a == \"Sierra Leone\") {a = 143;}\nelse if(a == \"Singapore\") {a = 144;}\nelse if(a == \"Slovakia\") {a = 145;}\nelse if(a == \"Slovenia\") {a = 146;}\nelse if(a == \"Solomon Islands\") {a = 147;}\nelse if(a == \"Somalia\") {a = 148;}\nelse if(a == \"South Africa\") {a = 149;}\nelse if(a == \"South Sudan\") {a = 150;}\nelse if(a == \"Spain\") {a = 151;}\nelse if(a == \"Sri Lanka\") {a = 152;}\nelse if(a == \"Sudan\") {a = 153;}\nelse if(a == \"Suriname\") {a = 154;}\nelse if(a == \"Swaziland\") {a = 155;}\nelse if(a == \"Sweden\") {a = 156;}\nelse if(a == \"Switzerland\") {a = 157;}\nelse if(a == \"Syrian Arab Republic\") {a = 158;}\nelse if(a == \"Tajikistan\") {a = 159;}\nelse if(a == \"Thailand\") {a = 160;}\nelse if(a == \"The former Yugoslav republic of Macedonia\") {a = 161;}\nelse if(a == \"Timor-Leste\") {a = 162;}\nelse if(a == \"Togo\") {a = 163;}\nelse if(a == \"Tonga\") {a = 164;}\nelse if(a == \"Trinidad and Tobago\") {a = 165;}\nelse if(a == \"Tunisia\") {a = 166;}\nelse if(a == \"Turkey\") {a = 167;}\nelse if(a == \"Turkmenistan\") {a = 168;}\nelse if(a == \"Uganda\") {a = 169;}\nelse if(a == \"Ukraine\") {a = 170;}\nelse if(a == \"United Arab Emirates\") {a = 171;}\nelse if(a == \"United Kingdom of Great Britain and Northern Ireland\") {a = 172;}\nelse if(a == \"United Republic of Tanzania\") {a = 173;}\nelse if(a == \"United States of America\") {a = 174;}\nelse if(a == \"Uruguay\") {a = 175;}\nelse if(a == \"Uzbekistan\") {a = 176;}\nelse if(a == \"Vanuatu\") {a = 177;}\nelse if(a == \"Bolivarian Republic of Venezuela\") {a = 178;}\nelse if(a == \"Viet Nam\") {a = 179;}\nelse if(a == \"Yemen\") {a = 180;}\nelse if(a == \"Zambia\") {a = 181;}\nelse if(a == \"Zimbabwe\") {a = 182;}\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nif (c == 'Developed')\n    {c = 0;}\nelse if (c == 'Developing')\n    {c = 1;}\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload =\n{\"fields\":[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["1109a0f2.68782f"]]},{"id":"1109a0f2.68782f","type":"http request","z":"dbc50079.61e8b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a0f87c50-083c-4d96-8311-c128f9a48201/deployments/10ab5622-939c-43a4-a02f-d09a90bca830/online","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":180,"wires":[["d89f1557.1bed48","577639a.bdee1c8"]]},{"id":"d89f1557.1bed48","type":"debug","z":"dbc50079.61e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"577639a.bdee1c8","type":"function","z":"dbc50079.61e8b","name":"","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["cc788e23.54b3a"]]},{"id":"61f7f9f.1bcda08","type":"debug","z":"dbc50079.61e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":540,"wires":[]},{"id":"f8c5789.ef26088","type":"ui_form","z":"dbc50079.61e8b","name":"","label":"","group":"1fb6cc0b.109804","order":0,"width":"0","height":"0","options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status (Developed/Developing)","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 Years","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 Years","value":"s","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":200,"wires":[["10366b3e.a72325","597c968e.33cf28"]]},{"id":"cc788e23.54b3a","type":"ui_text","z":"dbc50079.61e8b","group":"1fb6cc0b.109804","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":300,"wires":[]},{"id":"1fb6cc0b.109804","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"632754ca.2b06fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"632754ca.2b06fc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]